<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-header></app-header>
      <p>This is the root app component</p>
      <button class="btn btn-warning">OK.</button>
    </div>
    <div class="col-sm-6">
      <h2>Shopping List</h2>
      <app-shopping-list></app-shopping-list>
      <app-shopping-list-edit></app-shopping-list-edit>
    </div>
    <div class="col-sm-6">
        <h2>Recipe Book</h2>
        <app-recipe-list></app-recipe-list>
        <app-recipe-item></app-recipe-item>
        <app-recipe-detail></app-recipe-detail>

      </div>
  </div>
</div>
